<!DOCTYPE html> {% load staticfiles %}
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
  <!-- Necesidades de la pagina basicas/Basic Page Needs -->
  <meta charset="utf-8">
  <title>EnjoyPlanet</title>
  <link rel="shortcut icon" href="images/favicon.ico">
  <meta name="description" content="Web of videos for the subjet PW.">
  <meta name="keywords" content="torrentcy jiji">
  <meta name="autor" content="Omar Sotillo Franco">
  <!-- Mobile Specific Metas /como lo quites matas a chucknorris minimo -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CSS -->
  <link rel="stylesheet" href="{% static "index.css" %}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- Optional theme -->
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <!-- JS -->
  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'> {% block head %} {% endblock %} </head>

<body> {% include 'navbar.html' %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <div class="container-fluid left-margin"> <a class="btn btn-transparent" href="/"><i class="fa fa-home"></i> Home<a>
          <a class="btn btn-transparent" href="/search"><i class="fa fa-search"></i> Search</a> <a class="btn btn-transparent" href="/profile"><i class="fa fa-camera"></i> Your videos</a> <a class="btn btn-transparent" href="/newvideo"><i class="fa fa-video-camera"></i> New video</a>          </div>
      </div>
      <div class="col-md-10"> {% block content %} {% endblock %} </div>
    </div>
  </div>
</body>

</html>
