{% extends 'base.html' %}
<!-- HEAD -->{% block head %}
<link rel="stylesheet" href="../../static/login.css" /> {% endblock %}
<!-- BODY -->{% block content %}
<div class="container container-margin">
	<form class="form-signin" action="/login/" method="post"> {% csrf_token %}
		<h2 class="form-signin-heading">{{state}}</h2>
		{% if not user.is_authenticated %}
		<label for="inputEmail" class="sr-only">Email address</label>
		<input type="text" id="inputText" class="form-control" placeholder="Username" name="username" value="{{ username}}" required autofocus>
		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" value="" required>
		<button class="btn btn-lg btn-block btn-login" value="Log In" type="submit">Login</button>
		{% endif %}
	</form>
</div> {% endblock %}
